<section id="logsign" class="logsign">
	<div class="logsign_window">
		<div class="logsign_window_content">
			<input id="close" class="close" type="button" value="" onclick="javascript:document.getElementById('logsign').style.display = 'none';">
			<form>
				<input id="btn-login" class="btn-login btn" name="choiceconnect" type="radio" value="Login" checked>
				<label class="form" for="btn-login">
					<input class="" type="text" value="Username">
					<input class="" type="password" value="Password">
					<input class="btn-valid" type="button" value="Login">
					<a class="forgot" href="#">Forgot your password?</a>
					<input class="btn-fb" type="button" value="Login with facebook" (click)="login()">
					<input class="btn-link-sign" type="button" value="Or Sign up !">
				</label>
				<input id="btn-sign" class="btn-sign btn" name="choiceconnect" type="radio" value="Sign up">
				<label class="form" for="btn-sign">
					<input class="" type="text" value="Username">
					<input class="" type="password" value="Password">
					<input class="" type="password" value="Confirm your password">
					<input class="btn-valid" type="button" value="Sign up">
					<input class="btn-fb" type="button" value="Sign up with facebook" (click)="login()" >
				</label>
			</form>
		</div>
	</div>
</section>
