<li>
	<a href="#">
		<div class="model_template_active" onclick="document.getElementById('template-details').style.display = 'block';">
		</div>
		<div id="template-details" class="model_template_detail">
			<input class="model_template_detail_close" type="button" value="" onclick="document.getElementById('template-details').style.display = 'none';">
			<div class="model_template_detail_image"></div>
			<h3>Template Name Test</h3>
			<div class="model_template_detail_dispo">
				<p>Disponible dans les formats suivants:</p>
				<ul>
					<li>Indesign</li>
					<li>Photoshop</li>
					<li>Illustrator</li>
					<li>pdf</li>
				</ul>
			</div>
		</div>
		<span>12 €</span>
	</a>
	<h3>Template Name</h3>
	<input class="select" type="checkbox" value="Selectionner">
	<img id="check" src="images/check.png">
</li>